.boxed {
   opacity: 1;
   border: 1px solid black;
   margin: 50px;
   padding: 60px;
   background-image: url(field.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   filter: alpha(opacity=60);
}

body {
  background-image: url(ssky.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.jumbotron{
  background-image: url(cover.jpg);
  background-size: cover;
  font-family: Bradley Hand, cursive;
  font-size: 30pt;
  color: white;
  font-weight: 600;
  text-align: justify;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}

.question{
   font-family: Bradley Hand, cursive;
  font-size: 18pt;
  color: white;
  font-weight: 600;
  text-align: justify;
  text-shadow: -1px 0 black, 0 2.3px black, 2.3px 0 black, 0 -1px black;
}

.reveal{
   font-family: Bradley Hand, cursive;
  font-size: 50pt;
  color: white;
  font-weight: 600;
  text-align: justify;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}

.box{
  width: 1110px;
  height: 1100px;
  opacity: 1;
  border: 1px solid black;
  padding: 60px;
  background-image: url(ssky2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.find{
  font-family: Bradley Hand, cursive;
  font-size: 15pt;
  color: white;
  font-weight: 600;
  text-align: center;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
  margin-top: 50px;
}
